<div class="row">
	<div id="arrow-header">
 		<h5 id="tit-vetr">Indirizzo di Consegna</h5>
  		<img src="img/arrow.png">
	</div>

	<form action="/checkout" id="checkout-form" class="col s12">
		<div class="col s12 card">
			<div class="input-field col s12">
				<input id="nome" type="text" placeholder="Nome" class="validate">
			</div>
			<div class="input-field col s12">
				<input id="cognome" type="text" placeholder="Cognome"class="validate">
			</div>
			<div class="input-field col s12">
				<input id="indirizzo" type="text" placeholder="Indirizzo" class="validate">
			</div>
			<div class="input-field col s12">
				<input id="citta" type="text" placeholder="Città" class="validate">
			</div>
			<div class="input-field col s12">
				<input id="cap" type="number" placeholder="CAP" class="validate">
			</div>
			<div class="input-field col s12">
				<input id="provincia" placeholder="Provincia" type="text" class="validate">
			</div>
		</div>
	</form>
	<div class="col s12">
		<a id="ordina" class="waves-effect waves-light btn" >Ordina</a>

	</div>
</div>
