
<div class="row">  
  <div id="contatti" class="col s12">
    <ul class="collection">
      <li class="collection-item col s12">
          <div class="col s2">
            <a href="#!" class=""><i class="material-icons medium">location_on</i></a>
          </div>
          <div class="col s10">
            <span class="title"><strong>Dove Siamo</strong></span>
            <p>Loveitaly s.r.l.s, Via Abbazia 16 - 66030 Treglio (CH)</p>
          </div>
      </li>

      <li class="collection-item col s12">
          <div class="col s2">
            <a href="#!"><i class="material-icons medium">phone</i></a>
          </div>
          <div class="col s10">
            <span class="title"><strong>Chiamaci</strong></span>
            <p>339 53 47 252</p>
          </div>
      </li>

      <li class="collection-item col s12">
          <div class="col s2">
            <a href="#!"><i class="material-icons medium">email</i></a>
          </div>
          <div class="col s10">
            <span class="title"><strong>Email</strong></span>
            <p>info@loveitaly.net</p>
          </div>
      </li>

    </ul>

  </div>
