<div class="container">
  <div class="row center">
		<div class="col s12">
		  <h6><strong>Dov’è attivo il servizio?</strong></h6>
			<p>Attualmente LoveItaly è attivo in Abruzzo
			  nei comuni di: Castel Frentano, Fossacesia,
			  Frisa, Lanciano, Mozzagrogna, Ortona,
			  Rocca San Giovanni, Santa Maria Imbaro,
			  San Vito Chietino e Treglio.</p>
		  <h6><strong>Quando viene effettuata la consegna della spesa?</strong></h6>
			<p>La consegna della spesa viene effettuata il martedì e
			  il venerdì, tra le 10.00 e le 19.00, ma sei tu a scegliere
			   la data tra quelle disponibili nel calendario. Gli ordini
			   per il martedì si chiudono la domenica sera e quelli del
			   venerdì il mercoledì sera.  </p>
		  <h6><strong>Posso effettuare il pagamento in contanti?</strong></h6>
			<p>Si. È possibile pagare la spesa anche in contanti alla consegna.</p>
		  <h6><strong>C’è un limite minimo di spesa?</strong></h6>
			<p>L’iscrizione al sito è totalmente gratuita e i prezzi dei
			  prodotti sono visibili di fianco a ciascuno di essi.
			  La consegna è GRATUITA. Solo un costo di gestione ordine
			  di 2,00 euro viene aggiunto al totale della spesa per
			  ogni acquisto (l'informazione è chiaramente visibile
			  nella pagina del carrello).</p>
		  <h6><strong>Quanto costa il servizio?</strong></h6>
			<p>L’iscrizione al sito è totalmente gratuita e i prezzi
			  dei prodotti sono visibili di fianco a ciascuno di essi.
			  La consegna è GRATUITA. Solo un costo di gestione
			  ordine di 2,00 euro viene aggiunto al totale della spesa
			  per ogni acquisto (l'informazione è chiaramente visibile
			  nella pagina del carrello).</p>
		  <h6><strong>Posso scegliere l’ora della consegna?</strong></h6>
			<p>No. Ma cercheremo sempre di contattarti con un
			  po’ di anticipo per darti un’indicazione sull’orario
			  di consegna.</p>
		</div>
	  </div>
</div>
