<div class="row center">
   <div class="col s12">
      <img src="img/login.jpg" id="img-log">
      <form action="/login" id="login-form">
         <div id="mailpassw-div" class="col s12 card ">
            <div class="input-field col s12">
               <div class="col s2">
                  <i class="material-icons">mail</i>
               </div>
               <div class="col s10">
                  <input id="email" type="text" placeholder="Email" class="validate">
               </div>
            </div>
            <div class="input-field col s12">
               <div class="col s2">
                  <i class="material-icons">vpn_key</i>
               </div>
               <div class="col s10">
                  <input id="password" type="password" placeholder="Password" class="validate">
               </div>
            </div>
         </div>
         <div class="col s12">
            <a id="login" class="waves-effect waves-light btn" >Accedi</a>
         </div>
         <div class="col s12">
            <a class="waves-effect waves-light btn btn1" id="registrazione"> Registrati</a>
         </div>
      </form>
   </div>
</div>
