<div class="container">
    <div class="row">
        <div id="no_connection" class="col s12"><br>
            <i class="large material-icons">cloud_off</i><br>
            <p>Connessione internet assente</p><br>
            <a id="ricarica" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Ricarica</a>
        </div>
		<div class="col s12"><br>            
            <a id="continua" class="waves-effect waves-light btn"><i class="material-icons left">cached</i>Continua</a>
        </div>
    </div>
</div>
