  <div class="container">
    <div class="row">
      <img src="img/profilo.jpg" id="img-areap">

      <div id="header-card" class="col s12 card">

        <!-- Blocco Nome -->
        <div class="col s12">
          <div class="col s6">

            <div class="col s2">
              <i class="material-icons">person</i>
            </div>
            <div class="col s10">
              <span>Nome</span>
            </div>

          </div>
          <div class="col s6">
            <span>{{attributes.0.firstname}}</span>
          </div>
        </div>
        <!-- -->

        <!-- Blocco Cognome -->
        <div class="col s12">
          <div class="col s6">

            <div class="col s2">
              <i class="material-icons">supervisor_account</i>
            </div>
            <div class="col s10">
              <span>Cognome</span>
            </div>

          </div>

          <div class="col s6">
            <span>{{attributes.0.lastname}}</span>
          </div>
        </div>
        <!-- -->


        <!-- Blocco Email -->
        <div class="col s12">
          <div class="col s6">

            <div class="col s2">
              <i class="material-icons">mail</i>
            </div>
            <div class="col s10">
              <span>Email</span>
            </div>

          </div>
          <div class="col s6">
            <span>{{id}}</span>
          </div>
          <!-- -->

        </div>
      </div>

    </div>
</div>
