<div class="row center">

  <div class="col s12">
    <img src="img/registrati.jpg" id="img-reg"></a>

    <form action="/registrazione" id="form-registrazione">

      <div id="register-div" class="col s12 card ">

        <div class="input-field">

          <div class="col s2">
            <i class="material-icons">mail</i>
          </div>
          <div class="col s10">
            <input id="email" type="text" placeholder="Email" class="validate">
          </div>
        </div>

        <div class="input-field">

          <div class="col s2">
            <i class="material-icons">vpn_key</i>
          </div>
          <div class="col s10">
            <input id="password" type="password" placeholder="Password" class="validate">
          </div>
        </div>

        <div class="input-field">

          <div class="col s2">
          <i class="material-icons">account_box</i>
          </div>
          <div class="col s10">
            <input id="nome" type="text" placeholder="Nome" class="validate">
          </div>
        </div>

        <div class="input-field">

          <div class="col s2">
          <i class="material-icons">supervisor_account</i>
          </div>
          <div class="col s10">
            <input id="cognome" type="text"  placeholder="Cognome" class="validate">
          </div>
        </div>


      </div>



      <div class="col s12">
        <a id="registrati" class="waves-effect waves-light btn" >Registrati</a>
      </div>

    </form>
  </div>
</div>
