* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;

  background-color: #f5f5f5;

  font-family: "Roboto",Georgia,Times,Times New Roman,serif;
  /*font-size:12px;*/
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
}

.app {
  background:url(../img/logo.png) no-repeat center top;
  position:absolute;
  left:50%;
  top:50%;
  height:50px;
  width:225px;
  text-align:center;
  padding:180px 0px 0px 0px;
  margin:-115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position:left center;
    padding:75px 0px 75px 170px;
    margin:-90px 0px 0px -198px;
  }
}

h1 {
  font-size:24px;
  font-weight:normal;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}

.event.listening {
  background-color:#333333;
  display:block;
}

.event.received {
  background-color:#4B946A;
  display:none;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.4; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 3000ms infinite;
  -webkit-animation:fade 3000ms infinite;
}

/* Font di Loveitaly */
@font-face {
  font-family: "Rokkitt";
  font-style: normal;
  font-weight: 400;
  src: local("Rokkitt"), local("Rokkitt-Regular"), url("http://fonts.gstatic.com/s/rokkitt/v10/Uu8b3yBtxQPmPTMr0WQ_CA.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* --- */

/* Content Style */
#content {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
}

#arrow-header {
  height: 65px;
  color: #fff;
}

#arrow-header img{
  width: 100%;
  height:100%;
}

#tit-vetr{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

/* --- */

/* CSS della NavBar */
/*

#red-cont {
  position: absolute;
  background-color: red;
  border-radius: 25px;
  margin-top: 4px;
  color: #fff;
  text-align: center;
}*/

/*
#navbar-inverse {
  height: 60px;
}

*/

#greenNav {
  background-color: #127f3f;
  color: #fff;
}

#slide-out #loveitaly-logo {
  width: 100%;
  height: auto;
  border-bottom: solid #439733;
}

#search-input {
  display: none;
  overflow: hidden;
  height: 90%;
  position: relative;
  top: 2.5px;
}

#search-input .input-field{
  height: 100%;
  margin-right: 5px;
}

#back-button {
  position: absolute;
  right: initial;
  left: 10px;
}
/* --- */

/* Stili Home Page */

main {

  margin-bottom: 0px !important;
}

#home-page #titolo-pagina {
  display: inline-block;
  margin-left: 40px;
  margin-top: 14px;
  text-align: center;
}

#home-page h5 {
  text-align: center;
}

#dettagliofromhomepage{
  background-color: white;
}

#imgslide{
  height: 24em;
  max-width: 100%;
  margin: 0 auto;
  width: auto;
}

#geolocalizzazione {
  text-align: center;
  color: grey;
}


/* --- */



/* Stile Slider */

.btn, .btn-large {
  background-color: #429733 !important;
}
.btn1, .btn-large {
  background-color: #e51a22 !important;
}

/* icone medie e btn verdi*/
i.medium {
  color: #429733 !important;
  font-size: 48px !important;
}

.single-item #card-border {
  border: 6px solid #f5f5f5;
}
.single-item .card .card-content p {
  text-align: center;
  color: #fff ;
  font-size: 4vw;
}

.single-item .card {
  padding: 0px !important;
  background-color: #f5f5f5;

}

.single-item .card .card-action #bottone-ca {
  font-size: 10.5vw;
  line-height: normal;
  height: 12vw;
  width: 22vw;
  padding: 0px 20px;
}

.single-item .card .card-action #bottone-ca i {
  padding-top:3px;
  font-size: 1em;
}

/* Limita la lunghezza del titolo */
.productTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detailTitle{
    width: 95%;
    padding-left: 15px;
}
/* --- */

/* Stile Pagina Contatti */
#contatti h5{
  margin-top: 0px;
  text-align: center;
  padding-top: 17px;
  padding-left: 63px;
}

#contatti h6{
  text-align: center;
  font-size: 17px;
  color: #127f3f;
}

#contatti span , #contatti .collection i{
  color: #127f3f;
}

#contatti input[type=text] {
  margin-top: 20px;
  border-bottom: 1px solid #127f3f;
  background-color: #FFF;
  border-radius: 2px;
}

#domanda {
  margin-top: 15px;
}

#contatti textarea{
  background-color: #FFF;
  border-radius: 2px;
  border-bottom: 1px solid #127f3f;
  margin-bottom: 30px
}

#contatti .btn {
  background-color: #127f3f;
}

#btn-invio {
  margin-bottom:2em;
}

#info ul li {
  padding-top: 12px;
}
/* --- */

/* Titolo checkout*/
#titout{
  text-align:center;
}
#ordina {
  width: 100%;
}

#stile-nota {
  padding-bottom: 10px;
}
/* --- */

/* Bottone-input contatti*/
#botinput{
  margin-bottom:2em;
  width: 100%;
}
/* --- */

/* Img Faq */
#img-faq{
  height:24em;
  width:24em;
  margin-bottom:2em;
}
/* --- */

/* Stile pagina Login */
#img-log{
  /*height:24em;*/
  width:40em;
}

#login-form a {
  width: 100%;
}

#mailpassw-div {
  padding-right: 0px;
  padding-left: 0px;
}
#mailpassw-div .input-field i {
  font-size: 40px;
}

#password {
  margin-bottom: 28px;
}

#accedi{
  margin-top:2em;
}


#register{
  margin-top:2em;
}
/* --- */

/* Stile Modal Carrello */

#modal1 {
  color: #127f3f;
  max-height: none !important;
  height: 100%;
}

#modal1  .modal-footer{
  position: relative;
}

#close-icn {
  position: absolute;
  color: #fff;
}

#modal-header a {
  float: right;
  padding-right: 15px;
}


/* Stile della lista dei prodotto */

#single-prod {
  width: 100%;
}

#li-header a {
  color: #127f3f;
  padding-right: 21px;
}

#liclose-icn i {
  font-size:19px;
  float: right;
  height: auto;
  line-height: normal;
}

#li-grid {
  margin-bottom: 0px;
}

.modal-footer {
  position: fixed;
  bottom: 0;

}

#cartleft-btn {
  float: left;
  margin-left: 22px;
}

#modal2 {
  color: #000;
  text-align: center;
  font-size: 25px;
  overflow-x: hidden;
}

#modal2-content {
  margin-bottom: 12px;
  padding-bottom: 0px;
}

#area-per{
  border-right: 3px solid #fff;
  background-color: #127f3f;

}

#modal2-content a{
  color: #000;
}

.modal-footer a {
  margin-right: 40px !important;
}
/* -- -- */


/* Stile pagina registrazione */
#img-reg{
  width:40em;
}

#registrati{
  margin-top:2em;
  width: 100%;
}

#register-div .input-field i {
  font-size: 40px;
}
/* --- */

/* Stile area personale */
#img-areap{
  width:40em;
}

#header-card{
  padding-left: 0px;
  padding-bottom: 11px;
  padding-top: 11px;
}

#header-card .col.s12{
  padding-left: 0px;
}

#tit-res{
  position: absolute;
  bottom: -24px;
  right: 0px;
  left: 0px;
  text-align: center;
}

/* --- */

/* Stile success */
#btn-tornahome{
  margin-top:4em;
  color:white!important;
}
/* --- */


/*Stile dettaglio prodotto */

#span-number {
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 3px;
  font-size: 26px;
}

#num-div{
  margin-top: 6px;
}

#qt {
  float: right;
}

#qt i {
  color: #fff;
  font-size: 50px;
}

#center-div{
  background-color: #f5f5f5;
  border: 5px solid #429f3f;
  color: #fff;
}

#prod-descr {
  font-size: 14px;
}

#addtocart{
  width: 100%;
}

#sec-header{
  padding-right: 0px;
  padding-left: 0px;
}
/* -- -- */

/* Linea tratteggiata */
#divtrat{
  border-bottom: 3px dashed;
  color: #127f3f;
}
/* --- */


/* Stile dettaglio azienda */

#listbymanu {
  background-color: #127f3f;
  color: #fff;
}

#listbymanu i {
  color: #fff;
}

#div-descr {
  font-size: 20px;
}



/* -- -- */

#noconn{
  text-align: center;
  margin-top: 25%;

}

#noconn p{
  font-size: 25px;
}

/* --Pagina Success -- */

#btn-tornahome{
  width: 100%;
}
#success {
  width: 100%;
}

/* Stile lista localita */


#localizza {
    margin-top: 0.4em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    width: 100%;
    margin-bottom: 0.4em;
}

#listaloc{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
